.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
}

.items {
  margin-top: 30px;
}

.item {
  display: flex;
  justify-content: center;
  background-color: #695acd;
  padding: 1rem 2rem;
  margin: 1rem;
  color: #fff;
  border-radius: 10px;
}
