.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  height: 100%;
}

.items {
  display: flex;
  margin-top: 10px;
  height: 40%;
  width: 40%;
  align-items: center;
  background-color: #695acd;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-radius: 10px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  margin: 1rem;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  height: 50px;
  width: 150px;
  font-size: medium;
}

.Rollcontainer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.dice {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  background-color: #695acd;
  border-radius: 20px;
  color: #fff;
  font-size: 70px;
}
.dice > p {
  font-size: 20px;
}
.Rollcontainer > button {
  margin-top: 20px;
  height: 30px;
  border-radius: 5px;
  border-style: hidden;
  background-color: black;
  color: white;
  cursor: pointer;
}
.timer {
  display: flex;
  font-size: large;
  flex-direction: column;
  
}
.wordcontainer {
  display: flex;
  align-items: center;
  font-size: large;
  margin-top: 10px;
}

.fas {
  animation: rollDice 300ms linear;
}

@keyframes rollDice {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-5px) rotate(90deg);
  }

  50% {
    transform: translateY(-10px) rotate(180deg);
  }

  75% {
    transform: translateY(-20px) rotate(360deg);
  }

  100% {
    transform: translateY(0);
  }
}
.timer > button {
  display: flex;
  background-color: #695acd;
  color: #fff;
  justify-content: center;
  border-radius: 5px;
  height: 25px;
  align-items: center;
  border-width: thin;
  border-color: white;
  cursor: pointer;
}
