.Rollcontainer {
  margin-top: 20px;
}

.dice {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  background-color: #695acd;
  border-radius: 20px;
  color: #fff;
  font-size: 60px;
}

.btn {
  margin-top: 20px;
}
